root = true

[*]
charset = utf-8      # 编码
indent_style = space   # 缩进风格 空格
indent_size = 2        #缩进大小：2
end_of_line = lf       #换行符号的风格
insert_final_newline = true   # 当创建一个文件，自动会在文件末尾插入一个新换行符
trim_trailing_whitespace = true   #会自动移除换行尾部的空格
